
<div fxLayoutAlign=" centre centre" fxFlexFill class="main-div"  >
    <form action="/action_page.php" class="container">
      <h1>Rating</h1>
      
       <label for="id"><b>Name</b></label>
       <input id="id" name="id" type="text" />
      
       <label for="rating"><b>Rating</b></label>
       <select id="rating" name="rating">
        <option value=1>1</option>
        <option value=2>2</option>
        <option value=3>3</option>
        <option value=4>4</option>
        <option value=5>5</option>      
       </select>
      
       <button type="submit" routerLink="/ratingadded" class="btn">Add Rating</button>
    </form>    
  </div>