<app-header></app-header>
<style>
    .inputUnderline{
        outline: none;
        border: none;
        border-bottom: 2px solid violet;
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
    <div class="d-flex justify-content-center">
        <input type="text" class="p-3 inputUnderline"  placeholder="Search By Name">
        <a href="#" style="margin-right: 40px;"><img src="../assets/Images/searching.png" width="50" height="50" class="img-fluid"></a>
        <input type="text" class="p-3 inputUnderline" placeholder="Search By ID" >
        <a href="#"><img src="../assets/Images/searching.png" width="50" height="50" class="img-fluid"></a>
    </div>
    <div class="row">
        <div *ngFor="let product of pservice" class="col-lg-3 col-md-3 col-sm-6 p-3 m-3 card-group" >
            <div class="card d-block" style="width: 18rem;">
                <img class="card-img-top" [src]="product.Image_name" class="img-fluid rounded mx-auto d-block" style="height: 200px;"  alt="Card image cap">
                <div class="card-body">
                    <div style="min-height: 100px; max-height: 100px; overflow: auto;">
                        <h5 class="card-title">{{product.Name}}</h5>
                        <p class="card-text"> {{product.Description}} </p>
                    </div>
                  
                  <div class="d-flex justify-content-around">
                    <p class="card-text" style="font-size: large; font-weight: bold;">{{product.Price}}₹</p>
                    <p >
                        <span *ngFor="let star of getStars(product.Rating)" style="color: gold;" class="fa fa-star {{star}}"></span>
                    </p>
                    
                  </div>
                  
                    
                  <div class="d-flex justify-content-around align-items-end" style="height: 100%;">
                    <a href="#" class="btn btn-primary d-block">Add Cart</a>
                    <a href="#" class="btn" style="background-color: #07bc4c; color: white; font-weight: bold;">Buy now!</a>
                  </div>              
                </div>
            </div>
        </div>
    </div>
</div>
